{"openapi":"3.0.3","info":{"title":"Malanta.ai Labs API","version":"2.0.1","description":"Comprehensive cybersecurity intelligence API providing domain reconnaissance, \nthreat intelligence, and digital asset discovery capabilities.\n\n## Authentication\nAll endpoints require API key authentication via the `x-api-key` header.\n\n## Rate Limiting\nAPI requests are rate-limited. Please refer to response headers for current limits.\n\n## Response Format\nAll endpoints return JSON responses with consistent error handling.\n","contact":{"name":"Malanta.ai Support","url":"https://malanta.ai"},"license":{"name":"Proprietary","url":"https://malanta.ai/terms"}},"servers":[{"url":"https://api.malanta.ai","description":"Production API Server"}],"security":[{"ApiKeyAuth":[]}],"components":{"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"API key for authentication. Contact support to obtain your key."}},"schemas":{"Error":{"type":"object","properties":{"error":{"type":"string","description":"Error message"},"message":{"type":"string","description":"Detailed error description"},"code":{"type":"integer","description":"HTTP status code"}},"required":["error"]},"DnsRecord":{"type":"object","properties":{"domain":{"type":"string","description":"Domain name"},"type":{"type":"string","description":"DNS record type (A, AAAA, CNAME, MX, etc.)"},"value":{"type":"string","description":"DNS record value"},"ttl":{"type":"integer","description":"Time to live"}}},"Certificate":{"type":"object","properties":{"subject":{"type":"string","description":"Certificate subject"},"issuer":{"type":"string","description":"Certificate issuer"},"valid_from":{"type":"string","format":"date-time","description":"Certificate valid from date"},"valid_to":{"type":"string","format":"date-time","description":"Certificate expiration date"},"fingerprint":{"type":"string","description":"Certificate fingerprint"}}},"IpRange":{"type":"object","properties":{"start_ip":{"type":"string","description":"Start IP address of range"},"end_ip":{"type":"string","description":"End IP address of range"},"cidr":{"type":"string","description":"CIDR notation"},"organization":{"type":"string","description":"Organization owning the IP range"}}},"Company":{"type":"object","properties":{"name":{"type":"string","description":"Company name"},"domain":{"type":"string","description":"Primary domain"},"industry":{"type":"string","description":"Industry classification"}}},"SupplyChainData":{"type":"object","properties":{"vendor":{"type":"string","description":"Vendor name"},"category":{"type":"string","description":"Vendor category"},"relationship":{"type":"string","description":"Business relationship type"}}}},"parameters":{"domain":{"name":"domain","in":"query","required":true,"schema":{"type":"string","pattern":"^[a-zA-Z0-9][a-zA-Z0-9-]{0,61}[a-zA-Z0-9]?\\.[a-zA-Z]{2,}$"},"description":"Target domain name (e.g., example.com)","example":"example.com"},"fqdn":{"name":"fqdn","in":"query","required":true,"schema":{"type":"string"},"description":"Fully Qualified Domain Name (e.g., www.example.com)","example":"www.example.com"},"ip":{"name":"ip","in":"query","required":true,"schema":{"type":"string","pattern":"^(?:[0-9]{1,3}\\.){3}[0-9]{1,3}$"},"description":"IPv4 address","example":"8.8.8.8"},"cname":{"name":"cname","in":"query","required":true,"schema":{"type":"string"},"description":"CNAME record target","example":"example.amazonaws.com"},"company_name":{"name":"company_name","in":"query","required":true,"schema":{"type":"string"},"description":"Company name for search","example":"Microsoft Corporation"},"email":{"name":"email","in":"query","required":true,"schema":{"type":"string","format":"email"},"description":"Email address","example":"user@example.com"},"phone":{"name":"phone","in":"query","required":true,"schema":{"type":"string"},"description":"Phone number","example":"1234567890"},"facebook_id":{"name":"facebook_id","in":"query","required":true,"schema":{"type":"string"},"description":"Facebook user ID","example":"1234567890"},"cluster_id":{"name":"cluster_id","in":"query","required":true,"schema":{"type":"string"},"description":"Cluster identifier","example":"cluster-123"},"vendor":{"name":"vendor","in":"query","required":true,"schema":{"type":"string"},"description":"Vendor name","example":"Amazon"},"service":{"name":"service","in":"query","required":true,"schema":{"type":"string"},"description":"Service name","example":"CloudFront"}}},"paths":{"/cnameReverseLookup":{"get":{"summary":"CNAME Reverse Lookup","description":"Get DNS records related to a specified CNAME target","tags":["DNS & Domain Intelligence"],"parameters":[{"$ref":"#/components/parameters/cname"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DnsRecord"}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/dnsRecordsPerDomain":{"get":{"summary":"DNS Records by Domain","description":"Get all DNS records for a specified domain","tags":["DNS & Domain Intelligence"],"parameters":[{"$ref":"#/components/parameters/domain"}],"responses":{"200":{"description":"List of DNS records","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DnsRecord"}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/dnsRecordsPerFQDN":{"get":{"summary":"DNS Records by FQDN","description":"Get DNS records for a fully qualified domain name","tags":["DNS & Domain Intelligence"],"parameters":[{"$ref":"#/components/parameters/fqdn"}],"responses":{"200":{"description":"DNS records for the FQDN","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DnsRecord"}}}}}}}},"/dnsRecordsPerIP":{"get":{"summary":"DNS Records by IP Address","description":"Get DNS records pointing to a specified IP address","tags":["IP Intelligence"],"parameters":[{"$ref":"#/components/parameters/ip"}],"responses":{"200":{"description":"DNS records for the IP","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DnsRecord"}}}}}}}},"/getCnameChainByFqdn":{"get":{"summary":"CNAME Chain Analysis","description":"Get complete CNAME chain for a domain","tags":["DNS & Domain Intelligence"],"parameters":[{"$ref":"#/components/parameters/fqdn"}],"responses":{"200":{"description":"CNAME chain information","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"source":{"type":"string"},"target":{"type":"string"},"depth":{"type":"integer"}}}}}}}}}},"/getCompanySupplyChainByCompany":{"get":{"summary":"Company Supply Chain Analysis","description":"Get supply chain vendors and relationships for a company","tags":["Supply Chain Intelligence"],"parameters":[{"$ref":"#/components/parameters/company_name"}],"responses":{"200":{"description":"Supply chain data","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SupplyChainData"}}}}}}}},"/getIdentityClusterByFacebookEmail":{"get":{"summary":"Identity Cluster by Facebook Email","description":"Get identity cluster information using Facebook email","tags":["Identity Intelligence"],"parameters":[{"$ref":"#/components/parameters/email"}],"responses":{"200":{"description":"Identity cluster data","content":{"application/json":{"schema":{"type":"object","properties":{"cluster_id":{"type":"string"},"related_identities":{"type":"array","items":{"type":"object"}}}}}}}}}},"/getIdentityClusterByFacebookId":{"get":{"summary":"Identity Cluster by Facebook ID","description":"Get comprehensive identity information for a Facebook user ID","tags":["Identity Intelligence"],"parameters":[{"$ref":"#/components/parameters/facebook_id"}],"responses":{"200":{"description":"Identity cluster with related information","content":{"application/json":{"schema":{"type":"object","properties":{"profile":{"type":"object"},"related_emails":{"type":"array","items":{"type":"string"}},"phone_numbers":{"type":"array","items":{"type":"string"}}}}}}}}}},"/getIdentityClusterByFacebookPhone":{"get":{"summary":"Identity Cluster by Phone Number","description":"Get identity cluster information using phone number","tags":["Identity Intelligence"],"parameters":[{"$ref":"#/components/parameters/phone"}],"responses":{"200":{"description":"Identity information linked to phone number","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/getCertificatesByCompany":{"get":{"summary":"SSL Certificates by Company","description":"Get SSL certificate information for a company","tags":["Certificate Intelligence"],"parameters":[{"$ref":"#/components/parameters/company_name"}],"responses":{"200":{"description":"Certificate information","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Certificate"}}}}}}}},"/getCertificatesByFqdn":{"get":{"summary":"SSL Certificates by FQDN","description":"Get SSL certificate history for a domain","tags":["Certificate Intelligence"],"parameters":[{"$ref":"#/components/parameters/fqdn"}],"responses":{"200":{"description":"Certificate data","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Certificate"}}}}}}}},"/getCertificatesHistoryByDomain":{"get":{"summary":"Certificate History","description":"Get historical SSL certificate data for a domain","tags":["Certificate Intelligence"],"parameters":[{"$ref":"#/components/parameters/domain"}],"responses":{"200":{"description":"Historical certificate data","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Certificate"}}}}}}}},"/getCertificatesLatestsByDomain":{"get":{"summary":"Latest Certificates","description":"Get current SSL certificates for a domain","tags":["Certificate Intelligence"],"parameters":[{"$ref":"#/components/parameters/domain"}],"responses":{"200":{"description":"Current certificates","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Certificate"}}}}}}}},"/getClustersByClusterId":{"get":{"summary":"Cluster Analysis by ID","description":"Get domains associated with a specific cluster","tags":["Threat Intelligence"],"parameters":[{"$ref":"#/components/parameters/cluster_id"}],"responses":{"200":{"description":"Cluster information","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/getClustersByDomain":{"get":{"summary":"Domain Cluster Analysis","description":"Get cluster information for a domain","tags":["Threat Intelligence"],"parameters":[{"$ref":"#/components/parameters/domain"}],"responses":{"200":{"description":"Domain cluster data","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/getClustersByEmail":{"get":{"summary":"Email Cluster Analysis","description":"Get domains associated with an email address cluster","tags":["Threat Intelligence"],"parameters":[{"$ref":"#/components/parameters/email"}],"responses":{"200":{"description":"Email cluster information","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/getClustersByIp":{"get":{"summary":"IP Cluster Analysis","description":"Get domains associated with an IP address cluster","tags":["Threat Intelligence"],"parameters":[{"$ref":"#/components/parameters/ip"}],"responses":{"200":{"description":"IP cluster data","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/getCnameChainReverseLookup":{"get":{"summary":"Reverse CNAME Chain","description":"Get reverse CNAME chain information","tags":["DNS & Domain Intelligence"],"parameters":[{"$ref":"#/components/parameters/cname"}],"responses":{"200":{"description":"Reverse CNAME chain","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/getCompanyByIp":{"get":{"summary":"Company by IP Address","description":"Get company information associated with an IP address","tags":["IP Intelligence"],"parameters":[{"$ref":"#/components/parameters/ip"}],"responses":{"200":{"description":"Company information","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Company"}}}}}}}},"/getCompanyDomainsByCompany":{"get":{"summary":"Company Domains","description":"Get all domains associated with a company","tags":["Corporate Intelligence"],"parameters":[{"$ref":"#/components/parameters/company_name"}],"responses":{"200":{"description":"Company domains","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"domain":{"type":"string"},"registration_date":{"type":"string"},"status":{"type":"string"}}}}}}}}}},"/getDomainTreeByDomain":{"get":{"summary":"Domain Relationship Tree","description":"Get procurement and relationship chain for a domain","tags":["DNS & Domain Intelligence"],"parameters":[{"$ref":"#/components/parameters/domain"}],"responses":{"200":{"description":"Domain relationship tree","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/getDomainsByIp":{"get":{"summary":"Domains by IP Address","description":"Get all domains pointing to an IP address","tags":["IP Intelligence"],"parameters":[{"$ref":"#/components/parameters/ip"}],"responses":{"200":{"description":"Domains on the IP","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"domain":{"type":"string"},"record_type":{"type":"string"}}}}}}}}}},"/getHostedDomainsByDomain":{"get":{"summary":"Hosted Domains Analysis","description":"Get IP addresses hosting a domain","tags":["DNS & Domain Intelligence"],"parameters":[{"$ref":"#/components/parameters/domain"}],"responses":{"200":{"description":"Hosting information","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/getHrefsByFqdn":{"get":{"summary":"Links Analysis","description":"Get outbound links from a domain","tags":["Web Intelligence"],"parameters":[{"$ref":"#/components/parameters/fqdn"}],"responses":{"200":{"description":"Outbound links","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string"},"anchor_text":{"type":"string"}}}}}}}}}},"/getHtmlsByDomain":{"get":{"summary":"HTML Analysis","description":"Get HTML attributes and metadata for a domain","tags":["Web Intelligence"],"parameters":[{"$ref":"#/components/parameters/domain"}],"responses":{"200":{"description":"HTML analysis data","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/getIpRangesByCompany":{"get":{"summary":"IP Ranges by Company","description":"Get IP address ranges owned by a company","tags":["Corporate Intelligence"],"parameters":[{"$ref":"#/components/parameters/company_name"}],"responses":{"200":{"description":"IP ranges","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/IpRange"}}}}}}}},"/getIpRangesByDomain":{"get":{"summary":"IP Ranges by Domain","description":"Get IP ranges associated with a domain","tags":["DNS & Domain Intelligence"],"parameters":[{"$ref":"#/components/parameters/domain"}],"responses":{"200":{"description":"Associated IP ranges","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/IpRange"}}}}}}}},"/getPhoneDetails":{"get":{"summary":"Phone Number Intelligence","description":"Get details associated with a phone number","tags":["Identity Intelligence"],"parameters":[{"$ref":"#/components/parameters/phone"}],"responses":{"200":{"description":"Phone number details","content":{"application/json":{"schema":{"type":"object","properties":{"carrier":{"type":"string"},"location":{"type":"string"},"type":{"type":"string"}}}}}}}}},"/getPortsByIp":{"get":{"summary":"Open Ports Analysis","description":"Get open ports and services on an IP address","tags":["IP Intelligence"],"parameters":[{"$ref":"#/components/parameters/ip"}],"responses":{"200":{"description":"Open ports information","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"port":{"type":"integer"},"protocol":{"type":"string"},"service":{"type":"string"},"banner":{"type":"string"}}}}}}}}}},"/getRedirectionByRedirectedFqdn":{"get":{"summary":"Redirect Analysis (Target)","description":"Get redirect chains where FQDN is the target","tags":["Web Intelligence"],"parameters":[{"$ref":"#/components/parameters/fqdn"}],"responses":{"200":{"description":"Redirect information","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/getRedirectionByRedirectingFqdn":{"get":{"summary":"Redirect Analysis (Source)","description":"Get redirect chains where FQDN is the source","tags":["Web Intelligence"],"parameters":[{"$ref":"#/components/parameters/fqdn"}],"responses":{"200":{"description":"Redirect information","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/getRedirectionsByRedirectedDomain":{"get":{"summary":"Domain Redirect Analysis","description":"Get redirect information for a domain","tags":["Web Intelligence"],"parameters":[{"$ref":"#/components/parameters/domain"}],"responses":{"200":{"description":"Domain redirects","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/getSnmpDevicesByCompany":{"get":{"summary":"SNMP Devices by Company","description":"Get SNMP-enabled devices exposed by a company","tags":["Security Intelligence"],"parameters":[{"$ref":"#/components/parameters/company_name"}],"responses":{"200":{"description":"SNMP devices","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"ip":{"type":"string"},"device_info":{"type":"string"},"community":{"type":"string"}}}}}}}}}},"/getSnmpDevicesByDomain":{"get":{"summary":"SNMP Devices by Domain","description":"Get SNMP-enabled devices for a domain","tags":["Security Intelligence"],"parameters":[{"$ref":"#/components/parameters/domain"}],"responses":{"200":{"description":"SNMP devices","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/getSubdomainsByCompany":{"get":{"summary":"Subdomains by Company","description":"Get all subdomains associated with a company","tags":["Corporate Intelligence"],"parameters":[{"$ref":"#/components/parameters/company_name"}],"responses":{"200":{"description":"Company subdomains","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"subdomain":{"type":"string"},"ip":{"type":"string"}}}}}}}}}},"/getSubdomainsByDomain":{"get":{"summary":"Subdomains by Domain","description":"Get all subdomains for a domain","tags":["DNS & Domain Intelligence"],"parameters":[{"$ref":"#/components/parameters/domain"}],"responses":{"200":{"description":"Domain subdomains","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/getValidDnsRecordsByCompany":{"get":{"summary":"Valid DNS Records by Company","description":"Get all valid DNS records for a company","tags":["Corporate Intelligence"],"parameters":[{"$ref":"#/components/parameters/company_name"}],"responses":{"200":{"description":"Valid DNS records","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DnsRecord"}}}}}}}},"/getValidDnsRecordsLatestsByDomain":{"get":{"summary":"Latest Valid DNS Records","description":"Get current valid DNS records for a domain","tags":["DNS & Domain Intelligence"],"parameters":[{"$ref":"#/components/parameters/domain"}],"responses":{"200":{"description":"Latest DNS records","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DnsRecord"}}}}}}}},"/getVulnerableForHijackSubDomainsByCompany":{"get":{"summary":"Vulnerable Subdomains by Company","description":"Get subdomains vulnerable to hijacking for a company","tags":["Security Intelligence"],"parameters":[{"$ref":"#/components/parameters/company_name"}],"responses":{"200":{"description":"Vulnerable subdomains","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"subdomain":{"type":"string"},"vulnerability_type":{"type":"string"},"risk_level":{"type":"string"}}}}}}}}}},"/getVulnerableForHijackSubDomainsByService":{"get":{"summary":"Vulnerable Subdomains by Service","description":"Get subdomains vulnerable to hijacking for a specific service","tags":["Security Intelligence"],"parameters":[{"$ref":"#/components/parameters/service"}],"responses":{"200":{"description":"Vulnerable subdomains","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/getVulnerableForHijackSubDomainsByVendor":{"get":{"summary":"Vulnerable Subdomains by Vendor","description":"Get subdomains vulnerable to hijacking for a vendor","tags":["Security Intelligence"],"parameters":[{"$ref":"#/components/parameters/vendor"}],"responses":{"200":{"description":"Vulnerable subdomains","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/getWhoisHistoryByDomain":{"get":{"summary":"WHOIS History","description":"Get historical WHOIS data for a domain","tags":["DNS & Domain Intelligence"],"parameters":[{"$ref":"#/components/parameters/domain"}],"responses":{"200":{"description":"WHOIS history","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"registrar":{"type":"string"},"registration_date":{"type":"string"},"expiration_date":{"type":"string"},"nameservers":{"type":"array","items":{"type":"string"}}}}}}}}}}},"/getWhoisLatestsByDomain":{"get":{"summary":"Latest WHOIS Data","description":"Get current WHOIS information for a domain","tags":["DNS & Domain Intelligence"],"parameters":[{"$ref":"#/components/parameters/domain"}],"responses":{"200":{"description":"Current WHOIS data","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/insightsCertificatesExposureByCompany":{"get":{"summary":"Certificate Exposure Analysis (Company)","description":"Get certificate security exposures for a company","tags":["Security Intelligence"],"parameters":[{"$ref":"#/components/parameters/company_name"}],"responses":{"200":{"description":"Certificate exposures","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/insightsCertificatesExposureByDomain":{"get":{"summary":"Certificate Exposure Analysis (Domain)","description":"Get certificate security exposures for a domain","tags":["Security Intelligence"],"parameters":[{"$ref":"#/components/parameters/domain"}],"responses":{"200":{"description":"Certificate exposures","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/insightsHijackedSubdomainsByDomain":{"get":{"summary":"Hijacked Subdomains Analysis","description":"Get subdomains that have been hijacked for a domain","tags":["Security Intelligence"],"parameters":[{"$ref":"#/components/parameters/domain"}],"responses":{"200":{"description":"Hijacked subdomains","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/insightsImpersonatingDomainsByCompany":{"get":{"summary":"Domain Impersonation Analysis (Company)","description":"Get domains impersonating a company","tags":["Security Intelligence"],"parameters":[{"$ref":"#/components/parameters/company_name"}],"responses":{"200":{"description":"Impersonating domains","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/insightsImpersonatingDomainsByDomain":{"get":{"summary":"Domain Impersonation Analysis (Domain)","description":"Get domains impersonating a specific domain","tags":["Security Intelligence"],"parameters":[{"$ref":"#/components/parameters/domain"}],"responses":{"200":{"description":"Impersonating domains","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/insightsVulnerableSubdomainsByCompany":{"get":{"summary":"Vulnerable Subdomain Insights (Company)","description":"Get vulnerability insights for company subdomains","tags":["Security Intelligence"],"parameters":[{"$ref":"#/components/parameters/company_name"}],"responses":{"200":{"description":"Vulnerability insights","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/insightsVulnerableSubdomainsByDomain":{"get":{"summary":"Vulnerable Subdomain Insights (Domain)","description":"Get vulnerability insights for domain subdomains","tags":["Security Intelligence"],"parameters":[{"$ref":"#/components/parameters/domain"}],"responses":{"200":{"description":"Vulnerability insights","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/getIdentityByXUserName":{"get":{"summary":"Identity by X (Twitter) Username","description":"Retrieve identity information using an X (formerly Twitter) username","tags":["Identity Intelligence"],"parameters":[{"name":"x_username","in":"query","required":true,"schema":{"type":"string"},"description":"X (Twitter) username","example":"jack"}],"responses":{"200":{"description":"Identity information","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/getIdentityByPhoneNumber":{"get":{"summary":"Identity by Phone Number","description":"Retrieve identity information using a phone number","tags":["Identity Intelligence"],"parameters":[{"name":"phoneNumber","in":"query","required":true,"schema":{"type":"string"},"description":"Phone Number","example":"123456789"}],"responses":{"200":{"description":"Identity information linked to phone number","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/getIdentityByEmail":{"get":{"summary":"Identity by Email Address","description":"Retrieve identity information using an email address","tags":["Identity Intelligence"],"parameters":[{"name":"emailAddress","in":"query","required":true,"schema":{"type":"string"},"description":"Email Address","example":"user@example.com"}],"responses":{"200":{"description":"Identity information linked to email","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/getIdentityByGithubUserName":{"get":{"summary":"Identity by GitHub Username","description":"Retrieve identity information using a GitHub username","tags":["Identity Intelligence"],"parameters":[{"name":"github_username","in":"query","required":true,"schema":{"type":"string"},"description":"GitHub username","example":"torvalds"}],"responses":{"200":{"description":"Identity information linked to GitHub username","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/getIdentityByLinkedinID":{"get":{"summary":"Identity by LinkedIn ID","description":"Retrieve identity information using a LinkedIn user ID","tags":["Identity Intelligence"],"parameters":[{"name":"linkedin_id","in":"query","required":true,"schema":{"type":"string"},"description":"LinkedIn user ID","example":"123456789"}],"responses":{"200":{"description":"Identity information linked to LinkedIn ID","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/getIdentityByFacebookID":{"get":{"summary":"Identity by Facebook ID","description":"Retrieve identity information using a Facebook user ID","tags":["Identity Intelligence"],"parameters":[{"name":"facebookID","in":"query","required":true,"schema":{"type":"string"},"description":"Facebook user ID","example":"123456789"}],"responses":{"200":{"description":"Identity information linked to Facebook ID","content":{"application/json":{"schema":{"type":"object"}}}}}}}},"tags":[{"name":"DNS & Domain Intelligence","description":"Domain name system analysis and domain intelligence endpoints"},{"name":"IP Intelligence","description":"IP address analysis and network intelligence endpoints"},{"name":"Certificate Intelligence","description":"SSL/TLS certificate analysis and monitoring endpoints"},{"name":"Corporate Intelligence","description":"Company and organizational intelligence endpoints"},{"name":"Identity Intelligence","description":"Identity and social media intelligence endpoints"},{"name":"Security Intelligence","description":"Security vulnerabilities and threat intelligence endpoints"},{"name":"Threat Intelligence","description":"Threat clustering and advanced security analysis endpoints"},{"name":"Web Intelligence","description":"Web content analysis and link intelligence endpoints"},{"name":"Supply Chain Intelligence","description":"Supply chain and vendor relationship analysis endpoints"}]}